<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Сборка заказов</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ForWarehousePages.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ChatCSS.css}"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<aside class="sidebar">
    <h2>Orders in progress</h2>
    <div>
        <div id="active-orders-list">
            <div th:each="activeOrd : ${activeOrders}" class="order-card" th:id="'order-' + ${activeOrd.orderId}">
                <div class="order-info">
                <span class="leftPanel-close-order"
                      th:onclick="'closeLeftPanelOrder(event, this, ' + ${activeOrd.orderId} + ')'">✖</span>
                    <p><strong>City:</strong> <span th:text="${activeOrd.city}"></span></p>
                    <p><strong>Orfer №:</strong> <span th:text="${activeOrd.orderId}"></span></p>
                    <p>Quantity: <span th:text="${activeOrd.sumQuantityesProducts}"></span></p>
                </div>
            </div>
        </div>
    </div>

</aside>
<main class="main-content">
    <header class="main-header">
        <div class="header-container">
            <div class="header-logo">
                <span>
                       Available orders by city
                </span>
            </div>

            <div class="auth-section">
                <div sec:authorize="isAuthenticated()" class="user-profile">
                    <div class="user-info">
                        <button class="btn-chat" th:onclick="'startChat(\'' + ${currentUser.id} + '\')'">Chat</button>
                        <a th:href="@{/order/assembling}" class="profile-link">
                            <svg class="my-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <path d="M16 16C11.3812 16 8.4944 11 10.8038 7C13.1132 3 18.8868 3 21.1962 7C21.72287.9121 22 8.9468
                            22 10C21.9967 13.3123 19.3123 15.9967 16 16ZM16 6C12.9208 6 10.9963 9.3333 12.5359 12C14.0755 14.6667
                            17.9245 14.6667 19.4641 12C19.8152 11.3919 20 10.7021 20 10C20 7.7909 18.2091 6 16 6ZM28 28C20 28 12 28 4 28C4
                            27.6667 4 27.3333 4 27C4 21.7 8.935 18 16 18C23.065 18 28 21.7 28 27C28 27.3333 28 27.6667 28 28ZM6.084 26C12.6947
                            26 19.3053 26 25.916 26C25.305 22.42 21.4 20 16 20C10.6 20 6.7 22.42 6.084 26Z"/>
                            </svg>
                        </a>
                        <span th:text="${currentUser.email}" class="user-email"></span>
                    </div>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn-logout">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div id="available-orders-list">

        <div th:each="ord : ${order}" class="order-card" th:id="'order-' + ${ord.orderId}">
            <div class="order-info">
                <p><strong>City:</strong> <span th:text="${ord.city}"></span></p>
                <p><strong>Order №:</strong> <span th:text="${ord.orderId}"></span></p>
                <p>Quantity: <span th:text="${ord.sumQuantityesProducts}"></span></p>
            </div>
            <button class="btn-take" th:onclick="'takeOrder(this, ' + ${ord.orderId} + ')'">
                Take Order
            </button>
        </div>
    </div>
</main>
<div id="orderModal" class="draggable-modal">
    <div class="modal-header" id="modalHeader">
        <div id="modalTitle">
            <span id="modalCity">City: </span><br>
            <span id="modalOrderId" style="font-size: 14px; font-weight: normal;">Order №: </span>
        </div>
        <span class="close-btn" onclick="closeModal()">✖</span>
    </div>

    <div class="modal-body">
        <table class="modal-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Need</th>
                <th>Collected</th>
            </tr>
            </thead>
            <tbody id="modalTableBody">
            </tbody>
        </table>

        <div class="modal-footer">
            <button id="btnCompleteOrder" class="btn-complete" onclick="completeOrder()">Order completed</button>
        </div>
    </div>
</div>


<!--CHAT          ↓↓↓↓↓↓-->
<div id="chatModal" class="draggable-modal chat-modal" style="display: none;">

    <div class="modal-header">
        <span id="chatTitle" class="chat-title">Рабочий чат</span>
        <span class="close-btn" onclick="closeChat()">✖</span>
    </div>

    <div class="modal-body chat-area" id="chatArea">
    </div>

    <div class="modal-footer chat-footer">
        <input type="text" id="messageInput" class="chat-input" placeholder="Введите сообщение...">
        <button onclick="sendMessage()" class="btn-chat-send">Отправить</button>
    </div>
</div>
<!--CHAT          ↑↑↑↑↑↑-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/js/assemblingOrders.js}"></script>
</body>
</html>