<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/CartProductCSS.css}"/>
    <title>Document</title>
</head>
<body>
<h1>Cart_Item_PRODUCT</h1>
<div class="layout-container">
    <header class="header">
        <h2>Логотип</h2>
        <nav class="main-menu">
            <a href="/strona" class="icons" sec:authorize="hasAnyAuthority('Klient')">
                <svg class="my-custom-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="29"
                     viewBox="0 0 26.00 25.00" fill="#492f2f"
                     data-guides="{&quot;vertical&quot;:[],&quot;horizontal&quot;:[]}">
                    <defs/>
                    <path d="M18.14 2.5C20.8827 2.5655 23.5559 5.337 23.5 8.08C23.5 14.28 15.73 20.66 13 22.5C10.27 20.65 2.5 14.27 2.5 8.08C2.4441 5.337 5.1173 2.5655 7.86 2.5C9.2574 2.509 10.6006 2.9304 11.5 4C12.0067 4.6 12.4933 5.4 13 6C13.5067 5.4033 13.9933 4.5967 14.5 4C15.3975 2.9267 16.7409 2.5115 18.14 2.5ZM18.14 1C16.1573 1.0063 14.2777 1.8839 13 3.4C11.7223 1.8839 9.8427 1.0063 7.86 1C4.0104 1.0603 0.9388 4.2304 1 8.08C1 16.92 13 24 13 24C13 24 25 16.92 25 8.08C25.0612 4.2304 21.9896 1.0603 18.14 1Z"/>
                </svg>
                <svg class="my-custom-cart-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="29"
                     viewBox="0 0 26.00 25.00" fill="#492f2f"
                     data-guides="{&quot;vertical&quot;:[],&quot;horizontal&quot;:[]}">
                    <defs/>
                    <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1"
                          id="tSvg176b0a2b0fe" title="Path 3"
                          d="M4 5L6.5 5.5C6.5 5.5 6.5 5.5 6.5 5.5L8.9213 16.1537C8.9722 16.3776 8.9439 16.6123 8.8412 16.8177L8.222 18.056C8.0822 18.3355 8.0822 18.6645 8.222 18.944L8.25 19C8.4032 19.3064 8.7164 19.5 9.059 19.5H22.5"
                          pointer-events="none"/>
                    <path fill="transparent" fill-opacity="1" stroke="#000000" stroke-opacity="1" stroke-width="1"
                          id="tSvg84930e6073" title="Ellipse 1"
                          d="M21 20.868C21.5523 20.868 22 21.3052 22 21.8445C22 22.3838 21.5523 22.821 21 22.821C20.4477 22.821 20 22.3838 20 21.8445C20 21.3052 20.4477 20.868 21 20.868Z"
                          pointer-events="none" style="transform-origin: 21px 21.84px;"/>
                    <path fill="transparent" fill-opacity="1" stroke="#000000" stroke-opacity="1" stroke-width="1"
                          id="tSvg9d51f881b0" title="Ellipse 2"
                          d="M10.9737 20.934C11.5115 20.934 11.9475 21.3416 11.9475 21.8445C11.9475 22.3473 11.5115 22.755 10.9737 22.755C10.436 22.755 10 22.3473 10 21.8445C10 21.3416 10.436 20.934 10.9737 20.934Z"
                          pointer-events="none" style="transform-origin: 10.97px 21.84px;"/>
                    <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1"
                          id="tSvgb02df83168" title="Path 5"
                          d="M9.2688 8.024C8.881 8.0119 8.5873 8.3711 8.6762 8.7488L10.3843 16.0082C10.4509 16.2912 10.7138 16.4836 11.0038 16.4612L22.9532 15.5421C23.2727 15.5175 23.5322 15.2743 23.5776 14.9571L24.3984 9.2115C24.4526 8.832 24.1648 8.4895 23.7816 8.4775Z"
                          pointer-events="none"/>
                    <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1" stroke-opacity="1"
                          id="tSvg264dda6bb1" title="Path 6"
                          d="M12.5 16.5C12.5 16.5 12 8 12 8M15.5 16.5C15.5 16.5 15 8 15 8M18.5 16C18.5 16 18.5 8 18.5 8M21.5 16C21.5 16 22 8 22 8M9 11C9 11 24 11 24 11M9.5 14C9.5 14 24 13.5 24 13.5"
                          pointer-events="none"/>
                </svg>
            </a>

            <div sec:authorize="isAuthenticated()" class="loginBox">
                <span th:text="${currentUser.email}" class="loginName"></span>
                <a th:href="@{/logout}" class="userLogout">Выйти</a>
            </div>
        </nav>
    </header>
    <main class="content">

        <section th:each="product : ${cartItemProduct}" class="products-catalog">

            <div class="products-grid" sec:authorize="hasAnyAuthority('Klient')">
                <article class="product-card" th:id="'product-card-' + ${product.productId}">
                    <img th:if="${product.productPhoto != null}"
                         th:src="@{'/photos/products/' + ${product.productId} + '/' + ${product.productPhoto}}"
                         alt="Product Image"
                         class="productCartImg"/>

                    <img th:unless="${product.productPhoto != null}"
                         th:src="@{/images/no-image.png}"
                         alt="No Image"
                         class="ImgError"/>

                    <h3 th:text="${product.productName}">Название товара</h3>
                    <p th:text="${product.productDescription}">Описание</p>
                    <h4 class="productPrice" th:text="${product.productPrice} + ' PLN'">Цена</h4>

                    <div class="add-to-cart" sec:authorize="hasAnyAuthority('Klient')">
                        <a href="javascript:void(0);" class="icons"
                           th:onclick="'deleteCartProduct(' + ${product.productId} + ')'">

                            <svg th:id="'cart-added'+ ${product.productId}" xmlns="http://www.w3.org/2000/svg"
                                 width="17" height="12"
                                 viewBox="0 0 26.00 25.00"
                                 data-guides="{&quot;vertical&quot;:[],&quot;horizontal&quot;:[]}">
                                <defs/>
                                <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" id="tSvg18a1ca1f33d" title="Path 3"
                                      d="M3.9996 5.0007C4.8329 5.1673 5.6661 5.334 6.4994 5.5006C6.4994 5.5006 6.4994 5.5006 6.4994 5.5006C7.3064 9.0516 8.1134 12.6025 8.9205 16.1534C8.9714 16.3772 8.9431 16.6119 8.8404 16.8173C8.634 17.23 8.4276 17.6428 8.2212 18.0555C8.0815 18.335 8.0815 18.6639 8.2212 18.9434C8.2306 18.9621 8.2399 18.9807 8.2492 18.9994C8.4024 19.3058 8.7156 19.4994 9.0582 19.4994C13.5381 19.4994 18.018 19.4994 22.4979 19.4994"/>
                                <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" id="tSvg1cf7cd5add" title="Ellipse 1"
                                      d="M20.9981 20.8672C21.5503 20.8672 21.998 21.3044 21.998 21.8436C21.998 22.3829 21.5503 22.82 20.9981 22.82C20.4458 22.82 19.9982 22.3829 19.9982 21.8436C19.9982 21.3044 20.4458 20.8672 20.9981 20.8672Z"
                                      style="transform-origin: -4979px -4978.16px;"/>
                                <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" id="tSvgef911bd63c" title="Ellipse 2"
                                      d="M10.9727 20.9332C11.5104 20.9332 11.9464 21.3408 11.9464 21.8436C11.9464 22.3464 11.5104 22.7541 10.9727 22.7541C10.435 22.7541 9.9991 22.3464 9.9991 21.8436C9.9991 21.3408 10.435 20.9332 10.9727 20.9332Z"
                                      style="transform-origin: -4989.03px -4978.16px;"/>
                                <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" id="tSvg16808f0224d" title="Path 5"
                                      d="M9.2679 8.0244C8.8802 8.0123 8.5865 8.3715 8.6754 8.7491C9.2447 11.1687 9.814 13.5883 10.3833 16.0079C10.4499 16.2908 10.7128 16.4832 11.0028 16.4608C14.9855 16.1545 18.9683 15.8482 22.9511 15.5418C23.2705 15.5172 23.53 15.274 23.5754 14.9569C23.849 13.0418 24.1226 11.1268 24.3961 9.2118C24.4503 8.8323 24.1626 8.4899 23.7794 8.4779C18.9422 8.3267 14.1051 8.1756 9.2679 8.0244Z"/>
                                <path fill="transparent" stroke="#ff5f00" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" title="Rectangle 1"
                                      d="M15.9979 9.75C15.9979 9.75 15.9979 9.75 15.9979 9.75H20.9979C20.9979 9.75 20.9979 9.75 20.9979 9.75V14.75C20.9979 14.75 20.9979 14.75 20.9979 14.75H15.9979C15.9979 14.75 15.9979 14.75 15.9979 14.75Z"
                                      id="tSvg3c330df791" style=""/>
                                <path fill="transparent" fill-opacity="1" stroke="#ff5f00" stroke-opacity="0.82"
                                      stroke-width="1" id="tSvgdf4e50ed10" title="Rectangle 2"
                                      d="M16.998 10.75H19.998V13.75H16.998Z" style="transform-origin: 18.5px 12.25px;"/>
                                <path fill="transparent" fill-opacity="1" stroke="#ff5f00" stroke-opacity="0.67"
                                      stroke-width="1" id="tSvg12b933dddf7" title="Rectangle 3"
                                      d="M17.998 11.75H18.998V12.75H17.998Z" style="transform-origin: 18.5px 12.25px;"/>
                                <path fill="transparent" stroke="#000000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" id="tSvg5821b5917a" title="Path 6"
                                      d="M12.4998 16.4996C12.4998 16.4996 11.9999 8.0004 11.9999 8.0004M15.4995 16.4996C15.4995 16.4996 14.9996 8.0004 14.9996 8.0004M18.4993 15.9997C18.4993 15.9997 18.4993 8.0004 18.4993 8.0004M21.499 15.9997C21.499 15.9997 21.9989 8.0004 21.9989 8.0004M9.0001 11.0001C9.0001 11.0001 23.9988 11.0001 23.9988 11.0001M9.5001 13.9999C9.5001 13.9999 23.9988 13.4999 23.9988 13.4999"/>
                                <path fill="transparent" fill-opacity="1" stroke="#ff9f00" stroke-opacity="1"
                                      stroke-width="1" id="tSvg16762b6e096" title="Rectangle 4"
                                      d="M16 3H19.998V6.9422H16Z" style="transform-origin: 18px 4.97px;"/>
                                <path fill="transparent" fill-opacity="1" stroke="#b37d20" stroke-opacity="1"
                                      stroke-width="1" id="tSvg155e24ee8f3" title="Rectangle 5"
                                      d="M17 4H18.998V5.9422H17Z" style="transform-origin: 18px 4.97px;"/>
                                <path fill="transparent" fill-opacity="1" stroke="#ba6a2b" stroke-opacity="1"
                                      stroke-width="1" id="tSvgee833c2169" title="Rectangle 8"
                                      d="M17.999 4.9711H18V5H17.999Z" style="transform-origin: 18px 4.99px;"/>
                                <path fill="transparent" fill-opacity="1" stroke="#c75f17" stroke-opacity="1"
                                      stroke-width="1" id="tSvg882d7f83d9" title="Rectangle 13"
                                      d="M11 1.1716L13.8284 4L11 6.8284L8.1716 4Z" style="transform-origin: 11px 4px;"/>
                                <path fill="transparent" stroke="#e3a000" fill-opacity="1" stroke-width="1"
                                      stroke-opacity="1" title="Rectangle 14"
                                      d="M11 2.5858C11 2.5858 11 2.5858 11 2.5858L12.4142 4C12.4142 4 12.4142 4 12.4142 4L11 5.4142C11 5.4142 11 5.4142 11 5.4142L9.5858 4C9.5858 4 9.5858 4 9.5858 4Z"
                                      id="tSvg187866a81e8"/>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </section>
    </main>
</div>
<!--<script th:src="@{/js/favoriteprod.js}"></script>-->
<script th:src="@{/js/cartItemProd.js}"></script>
</body>
</html>