<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/Shop.css}"/>-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/YourShop.css}"/>
    <title>Products</title>
</head>
<body>

<div class="auth-wrapper">
    <div class="form-box large">
        <h2>Dodaj Produkt</h2>

        <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">

            <div th:if="${error}" class="alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <div class="form-group">
                <input placeholder="Nazwa produktu (Name)" name="productName" th:field="*{productName}" type="text" class="form-control" required/>
            </div>

            <div class="form-group">
                <input placeholder="Opis (Description)" name="productDescription" th:field="*{productDescription}" type="text" class="form-control" required/>
            </div>

            <div class="form-group">
                <input placeholder="Cena PLN" name="productPrice" th:field="*{productPrice}" type="number" step="0.01" class="form-control" required/>
            </div>

            <div class="form-group">
                <input placeholder="Ilość" name="productQuantity" th:field="*{productQuantity}" type="number" class="form-control" required/>
            </div>

            <div class="form-group">
                <input name="filename" type="file" accept="image/*" class="form-control" required/>
            </div>

            <button type="submit" class="btn-block" style="background-color: #27ae60;">Zapisz Produkt</button>

            <div class="form-footer-text">
                <a th:href="@{/strona}">Wróć do katalogu</a>
            </div>

        </form>
    </div>
</div>

</body>

</html>