<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Sprzedawcy</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/SellerHomePageCSS.css}"/>
</head>
<body>

<div class="search-container">
    <input type="text" id="searchInput" placeholder="Name / Surname / Name Surname">
    <button onclick="startSearch()" id="searchbtn" class="btn-details">Szukaj</button>
</div>

<table class="orders-table" id="ordersTable">
    <thead>
    <tr>
        <th>Nr zamówienia</th>
        <th>Full Name</th>
        <th>Addition Date</th>
        <th>Miasto</th>
        <th>Totaal</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="ordersTableBody">
    <tr>
        <td colspan="6" class="empty-message">To start search: write a Client <b>Name</b> / <b>Surname</b> into a search
            panel.
        </td>
    </tr>
    </tbody>
</table>
</div>
<script th:src="@{/js/sellersPages.js}"></script>
</body>
</html>