<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Sprzedawcy</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/SellerHomePageCSS.css}"/>
</head>
<body>

<div class="dashboard-container">
    <div class="dashboard-header">
        <h1>Gotowe zamówienia</h1>
        <!--        <a th:href="@{/seller/home}" style="color: #b78a76; text-decoration: none; font-weight: bold;">&larr; Powrót</a>-->
    </div>

    <table class="orders-table">
        <thead>
        <tr>
            <th>Nr zamówienia</th>
            <th>Full Name</th>
            <th>Addition Date</th>
            <th>Miasto</th>
            <th>Totaal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.fullName}"></td>
            <td th:text="${order.additionDate}"></td>
            <td th:text="${order.city}"></td>
            <td th:text="${order.sumCostOrder} + ' PLN'"></td>
            <td>
                <button class="btn-details" th:onclick="'takeOrder(this, ' + ${order.getOrderId()} + ')'">
                    Szczegóły
                </button>
            </td>
        </tr>

        <tr th:if="${#lists.isEmpty(orders)}">
            <td colspan="6" class="empty-message">Brak gotowych zamówień.</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>