<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Panel Sprzedawcy</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/SellerHomePageCSS.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ChatCSS.css}"/>
</head>
<body>
<header class="main-header">
    <div class="header-container">
        <div class="header-logo">
            <span>Panel Sprzedawcy</span>
        </div>

        <div class="auth-section">
            <div sec:authorize="isAuthenticated()" class="user-profile">
                <div class="user-info">
                    <button class="btn-chat" th:onclick="'startChat(\'' + ${currentUser.id} + '\')'">Chat</button>
                    <a th:href="@{/seller/home}" class="profile-link">
                        <svg class="my-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <path d="M16 16C11.3812 16 8.4944 11 10.8038 7C13.1132 3 18.8868 3 21.1962 7C21.72287.9121 22 8.9468
                            22 10C21.9967 13.3123 19.3123 15.9967 16 16ZM16 6C12.9208 6 10.9963 9.3333 12.5359 12C14.0755 14.6667
                            17.9245 14.6667 19.4641 12C19.8152 11.3919 20 10.7021 20 10C20 7.7909 18.2091 6 16 6ZM28 28C20 28 12 28 4 28C4
                            27.6667 4 27.3333 4 27C4 21.7 8.935 18 16 18C23.065 18 28 21.7 28 27C28 27.3333 28 27.6667 28 28ZM6.084 26C12.6947
                            26 19.3053 26 25.916 26C25.305 22.42 21.4 20 16 20C10.6 20 6.7 22.42 6.084 26Z"/>
                        </svg>
                    </a>
                    <span th:text="${currentUser.email}" class="user-email"></span>
                </div>
                <a th:href="@{/logout}" class="btn-logout">Выйти</a>
            </div>
        </div>
    </div>
</header>
<table class="orders-table" id="ordersTable">
    <thead>
    <tr>
        <th>Nr zamówienia</th>
        <th>Full Name</th>
        <th>Addition Date</th>
        <th>Miasto</th>
        <th>Totaal</th>
        <th>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Name / Surname / Name Surname">
                <button onclick="startSearch()" id="searchbtn" class="btn-details">Szukaj</button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody id="ordersTableBody">
    <tr>
        <td colspan="6" class="empty-message">To start search: write a Client <b>Name</b> / <b>Surname</b> into a search
            panel.
        </td>
    </tr>
    </tbody>
</table>

<!--Окно подробной информации Товара-->
<div id="orderModal" class="draggable-modal">
    <div class="modal-header" id="modalHeader">
        <div id="modalTitle">
            <span id="modalOrderId" style="font-size: 16px; font-weight: bold;">Order №: </span>
        </div>
        <span class="close-btn" onclick="closeModal()">✖</span>
    </div>

    <div class="modal-body">
        <table class="modal-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody id="modalTableBody">
            </tbody>
        </table>

        <div class="modal-footer" style="display: flex; justify-content: space-between;">
            <button id="btnReturnOrder" class="btn-return" onclick="returnOrder()">Zwrot</button>
            <button id="btnGiveOrder" class="btn-complete" onclick="giveOrder()">Wydaj</button>
        </div>
    </div>
</div>

<!--CHAT          ↓↓↓↓↓↓↓-->
<div id="chatModal" class="draggable-modal chat-modal" style="display: none;">

    <div class="modal-header">
        <span id="chatTitle" class="chat-title">Рабочий чат</span>
        <span class="close-btn" onclick="closeChat()">✖</span>
    </div>

    <div class="modal-body chat-area" id="chatArea">
    </div>

    <div class="modal-footer chat-footer">
        <input type="text" id="messageInput" class="chat-input" placeholder="Введите сообщение...">
        <button onclick="sendMessage()" class="btn-chat-send">Отправить</button>
    </div>
</div>
<!--CHAT          ↑↑↑↑↑↑↑-->
<script th:src="@{/js/sellersPages.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>