<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/StronaCSS.css}"/>
    <title>Title</title>
</head>
<body>
<div class="layout-container">

    <header class="header">
        <h2>Логотип</h2>
        <nav class="main-menu">
            <a href="/strona">Каталог</a>
            <!--            <a href="/favoriteProducts">-->
            <a href="/products" class="icons">
                <svg class="my-custom-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="29"
                     viewBox="0 0 26.00 25.00" fill="#492f2f"
                     data-guides="{&quot;vertical&quot;:[],&quot;horizontal&quot;:[]}">
                    <defs/>
                    <path d="M18.14 2.5C20.8827 2.5655 23.5559 5.337 23.5 8.08C23.5 14.28 15.73 20.66 13 22.5C10.27 20.65 2.5 14.27 2.5 8.08C2.4441 5.337 5.1173 2.5655 7.86 2.5C9.2574 2.509 10.6006 2.9304 11.5 4C12.0067 4.6 12.4933 5.4 13 6C13.5067 5.4033 13.9933 4.5967 14.5 4C15.3975 2.9267 16.7409 2.5115 18.14 2.5ZM18.14 1C16.1573 1.0063 14.2777 1.8839 13 3.4C11.7223 1.8839 9.8427 1.0063 7.86 1C4.0104 1.0603 0.9388 4.2304 1 8.08C1 16.92 13 24 13 24C13 24 25 16.92 25 8.08C25.0612 4.2304 21.9896 1.0603 18.14 1Z"/>
                </svg>
            </a>

            <a sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>

            <div sec:authorize="isAuthenticated()" class="loginBox">
<!--                <span sec:authentication="name"></span>-->
                <span th:text="${currentUser.email}" class="loginName"></span>

                <a th:href="@{/logout}" class="userLogout">Выйти</a>
            </div>
        </nav>
    </header>
    <!------------------------------------------------------------------------------->
    <aside class="sidebar" sec:authorize="hasAnyAuthority('Klient','ROLE_ANONYMOUS')">
        <section class="filters">
            <h3>Категории</h3>
            <ul>
                <li>Ноутбуки</li>
                <li>Телефоны</li>
            </ul>
        </section>
    </aside>

    <aside class="sidebar" sec:authorize="hasAnyAuthority('Magazynier')">
        <section class="filters">
            <h3>Действия</h3>
            <ul>
                <li>
                    <a th:href="@{/products}">Добавить товар</a>
                </li>
            </ul>
        </section>
    </aside>
    <!------------------------------------------------------------------------------->
    <main class="content">

        <section th:each="product : ${products}" class="products-catalog">
            <h2>Список товаров</h2>

            <div class="products-grid">
                <article class="product-card">
                    <img th:if="${product.productPhoto != null}"
                         th:src="@{'/photos/products/' + ${product.productId} + '/' + ${product.productPhoto}}"
                         alt="Product Image"
                         class="productCartImg"/>

                    <img th:unless="${product.productPhoto != null}"
                         th:src="@{/images/no-image.png}"
                         alt="No Image"
                         class="ImgError"/>

                    <h3 th:text="${product.productName}">Название товара</h3>
                    <p th:text="${product.productDescription}">Описание</p>
                    <h4 class="productPrice" th:text="${product.productPrice} + ' PLN'">Цена</h4>

                    <button>Купить</button>
                </article>
            </div>

        </section>

    </main>
</div>
</body>
</html>