*{
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

/* Шапка, Сайдбар, Контент */
.layout-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 15px;
    min-height: 90vh;
}

/* Рамки */
.header, .sidebar, .content {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
}

.header {
    grid-column: 1 / -1;
    display: flex; /* Логотип и меню в одну линию */
    justify-content: space-between;
    align-items: center;
}


/* Внутренняя сетка для самих карточек товаров */
.products-grid {
    display: flex;
    flex-wrap: wrap; /* Карточки переносятся на новую строку */
    gap: 20px;
    margin-top: 15px;
}

/* Стилизация карточки товара */
.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 8px; /* rounding corners */
}
.productCartImg{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.ImgError{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}
.productPrice{
    color: green;
}

.loginBox{
    display: inline-block;
    margin-left: 15px;
}

.loginName{
    font-weight: bold;
    margin-right: 10px;
}
.userLogout{
    color: red
}

/* Changing the icon color to red when hovering over him*/
.my-custom-icon {
    fill: black;
    transition: fill 0.3s;
}

.my-custom-icon:hover {
    fill: red;
}

.icons{
    text-decoration: none;
}

.text-button-update{
    color: green;
}
.update-button-save-color{
    display: none;
    background-color: green;
    color: white;
}

.update-button-cancel-color{
    background-color: red;
}

.input-update{
    display: none;
    margin-bottom: 5px;
    width: 100%;
}

.add-to-favorite{
    text-align: right;
}